

.list {
  list-style-type: none;
}

.editorlist li {
  clear: both;
}

.editorlist img {
  height: 150px;
  float: right;
  margin-bottom: .5em;
}

.list h3 a, .list h5 a {
  text-decoration: none;
}
